/* ----------------- Class CSS ----------------- */
@font-face {
    font-family: 'DM Sans';
    src: url(https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap);
}

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:#171f4d;
}

.authors{
    background-color: #e3e4f0;
}

.body{
    background-color: #ced0e2;
    font-family: 'DM Sans';
}

.footer{
    background-color: #4E5583;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.nb-background-color{   /* navbar background color */
    background-color: #4E5583;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #e3e4f0;
    color: #171f4d !important;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #e3e4f0;
    padding: 1px;
}

.showcase{
    background-color: #6971A5;
}

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

#turbine-logo {
    width: 100px;
}

.border-light {
    border-radius: 7px;
    border: 3px solid #ced0e2;
}

.howTo {
    font-weight: normal;
    font-size: 25px;
    padding: 30px;
}

.howToImage {
    max-width: 120px;
    padding: 3px;
    border-radius: 7px;
}

th {
    background-color: #ced0e2 !important;
}